# Python
__pycache__/
*.py[cod]
*.pyc
*.pyo
*.pyd
.Python

# Virtual Environment
venv/
env/
.venv/
ENV/

# Distribution / Packaging
*.egg-info/
dist/
build/

# Jupyter Notebook
.ipynb_checkpoints/

# IDEs
.vscode/
.idea/
*.swp

# macOS
.DS_Store
.AppleDouble
.LSOverride
._*

# Streamlit
.streamlit/

# Environment variables
.env